{% load staticfiles %}
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="{% static 'css/normalize.css' %}" type="text/css">
  <link rel="stylesheet" href="{% static 'css/skeleton.css' %}" type="text/css">
  <link rel="stylesheet" href="{% static 'css/styles.css' %}" type="text/css">
  <script src="{% static 'js/jquery-2.1.4.min.js' %}"></script>
  <title>Avalon</title>
</head>

<body>
  <div class="container">
    {% block accesscode %}
    <div class="access-code">
      <p>
        <span class="header">Access Code</span> {% block accesscode_value %}{{ access_code|default:"(not in game)" }}{% endblock %}
        {% if not results_only %}<span class="header">Name</span> {% if is_observer %}(observer){% else %}{{ player.name|default:"(not in game)" }}{% endif %}{% endif %}
      </p>
    </div>
    {% endblock %}
    {% block score %}
    <div class="score">
      {% for round_num, round in round_scores.items %}
      <div class="score-box {{ round.result }}"><p id="score-box-{{ round_num }}">{{ round.mission_size }}</p></div>
      {% empty %}
      <div class="score-box"><p id="score-box-1"></p></div>
      <div class="score-box"><p id="score-box-2"></p></div>
      <div class="score-box"><p id="score-box-3"></p></div>
      <div class="score-box"><p id="score-box-4"></p></div>
      <div class="score-box"><p id="score-box-5"></p></div>
      {% endfor %}
    </div>
    {% endblock %}
    <br>
    {% block content %}{% endblock %}
    <br>
    {% block history %}{% endblock %}
    <hr>

    <p class="small"><a href="https://boardgamegeek.com/boardgame/41114/resistance" target="_blank">The Resistance: Avalon</a> was designed by Don Eskridge </p>
    <p class="small">and published by <a href="http://www.indieboardsandcards.com/resistance.php">Indie Cards and Games</a></p>
    <p class="small">Built by <a href="https://aweirdimagination.net/" target="_blank">Daniel Perelman</a> based on <a href="http://alantran.co" target="_blank">Alan Tran</a>'s <a href="https://github.com/athtran/avalon" target="_blank">Avalon app</a> | <a href="https://github.com/dperelman/avalon-django" target="_blank">Github Link</a></p>
  </div>
</body>
