{% extends "mission_base.html" %}

{% block pass-button %}
{% block pass-button-2 %}
        <button type="submit" formaction="{% url 'mission' access_code=access_code player_secret=player_secret round_num=round_num mission_action='success' %}" class="button-pass">Pass</button>
{% endblock %}
{% endblock %}
{% block fail-button %}
{% block fail-button-2 %}
        <button type="submit" formaction="{% url 'mission' access_code=access_code player_secret=player_secret round_num=round_num mission_action='fail' %}" class="button-fail">Fail</button>
{% endblock %}
{% endblock %}
