{% extends "in_game.html" %}

{% block game_content %}
  <div class="mission-phase">
    <h2>Mission Phase</h2>

    <p>
      The vote has passed (<b class="approve">{{ vote.accepts }}</b>-<b class="reject">{{ vote.rejects }}</b>).
      {% if not is_observer %}
      You have not been selected. Please wait.
      {% endif %}
      The following players are on the mission:
      <ul id="chosen-for-mission">
        {% for chosen_player in chosen %}
        <li>{{ chosen_player.name }}</li>
        {% endfor %}
      </ul>
    </p>

  </div>
{% endblock %}
