{% extends "base.html" %}

{% block content %}
    <h2>New Game</h2>

    <form class="new-game-form" action="#" method="post">
      {% csrf_token %}
      <table>
      {{ form.as_table }}
      </table>
      <div class="button-container">
        <input type="submit" class="button button-create" value="Create as player"></input>
        <input type="submit" class="button button-observe" name="observe" value="Create as observer"></input>
      </div>
      <div class="button-container">
        <a href="{% url 'index' %}" class="button button-main-menu">Back</a>
      </div>
    </form>
{% endblock %}
