{% extends "in_game.html" %}

{% block game_content %}
  <div class="role-phase">
    <h2>Role Phase</h2>

    <p><b>Ready up!</b></p>
    <ul>
      {% for p in players %}
        <li class="{% if p.ready %}ready{% endif %}">{{ p.name }}</li>
      {% endfor %}
    </ul>
    <form method="post" action="{% url 'ready' access_code=access_code player_secret=player_secret %}">
      {% csrf_token %}
      <div class="button-container">
        <button type="submit">Ready</button>
      </div>
    </form>
  </div>
{% endblock %}
