{% extends "in_game.html" %}

{% block game_content %}
  <div class="voting-phase">
    <h2>Voting Phase</h2>
  </div>

  <p><b>Please vote on the following team:</b></p>
  <ul>
    {% for p in chosen %}
      <li>{{ p.name }}</li>
    {% endfor %}
  </ul>

  <p><b>Waiting for {% if missing_votes_count == 1 %}1 person{% else %}{{ missing_votes_count }} people{% endif %} to vote.</b></p>

  <form method="post">
    {% csrf_token %}
    <div class="button-container">
      <button type="submit" formaction="{% url 'vote' access_code=access_code player_secret=player_secret round_num=round_num vote_num=vote_num vote='approve' %}" class="button-accept">Accept</button>
      <button type="submit" formaction="{% url 'vote' access_code=access_code player_secret=player_secret round_num=round_num vote_num=vote_num vote='reject' %}" class="button-reject">Reject</button>
    </div>

  {% if player == leader %}
  <div class="button-container">
    <button type="submit" formaction="{% url 'retract_team' access_code=access_code player_secret=player_secret round_num=round_num vote_num=vote_num %}" class="button-cancel">Change team</button>
  </div>
  {% endif %}
  </form>

  {% if player_vote %}
    <p>You are voting: {{ player_vote }}</p>
  {% endif %}
{% endblock %}
