{% extends "vote_base.html" %}

{% block accept-button %}
{% block accept-button-2 %}
      <button type="submit" formaction="{% url 'vote' access_code=access_code player_secret=player_secret round_num=round_num vote_num=vote_num vote='approve' %}" class="button-accept">Accept</button>
{% endblock %}
{% endblock %}
{% block reject-button %}
{% block reject-button-2 %}
      <button type="submit" formaction="{% url 'vote' access_code=access_code player_secret=player_secret round_num=round_num vote_num=vote_num vote='reject' %}" class="button-reject">Reject</button>
{% endblock %}
{% endblock %}
